
body
{
font-size:small;
}

.block .item-list ul
{
font-size:0.95em;
}

#featured .block
{
border-width:0px;
border-style: none;
background-color: transparent;
}

/*Triangle + comment bubble*/
.commentbubble
{
border-style: none;
background: transparent url(images/FeaturedHeader.png) no-repeat scroll left bottom;
}

.commentbubble:after
{
bottom:-38px; 
}


#columnB_3columns h2
{
line-height:30px;
padding-left: 10px;/*Experimental bug correction*/
}

#block-menu-menu-featuredblogs
{
background-color: transparent;
border: none;
}

#columnB_3columns
{
width: 95%;
}
	
/*only IE6 does not support transparent*/
#menu li a
{
border-style:none;
}

#menu a:hover
{
border-style:none;
text-decoration: underline;
}

.site-name a
{
color:#FFFFFF;
text-decoration:none;
}

#menu li a.active
{
border-style:none;
}

/*FIX sidebar width works only*/

#main_inner /*no float!*/
{
float: none;
width: auto;
margin-left: 23%;
padding: 0.55em 1.2% 0 0;
}

#columnA_3columns/*no float!*/
{
float: none;
}

#secondaryContent_3columns
{
width: 20%;
}

.node
{
clear:right;
}

#columnA_3columns
{
width:auto;
}

/*IE confuses margin padding*/
.item-list .pager li
{
margin: 3px;
}

.item-list .pager li.pager-current
{
margin: 4px;
}

.item-list .pager li.pager-ellipsis
{
margin: 4px;
}

/*NEW FEATURES*/
#header-region .form-submit
{
padding:0;
margin:0;
}

#header-region .block
{
border: 0px none transparent;
}
