

/*padding bug correction for comment box*/
.comment .title
{
margin: 0 0.5em;
}

.comment .submitted
{
margin: 0 0.5em;
}

.comment .content
{
margin: 0 0.5em;
}

.comment .links
{
margin: 0 0.5em;
}


#columnB_3columns h2
{
/*...*/
line-height:30px;
padding-left: 10px;/*Is it work? Experimental bug correction*/
}

	
/*note: only IE6 does not support transparent*/
/*IE 7 padding bug during resize*/
#menu li a
{
background:url("images/MenuSeparator.png") no-repeat scroll right 5px transparent;
border:1px solid transparent;
display:inline-block;
line-height:30px;
padding:0 0.8em 0 0.8em;
/*...
border-style:none;*/
}

/*IE confuses margin padding*/
.item-list .pager li
{
margin: 3px;
}

.item-list .pager li.pager-current
{
margin: 4px;
}

.item-list .pager li.pager-ellipsis
{
margin: 4px;
}

/*NEW FEATURES*/
#header-region .form-submit
{
padding:0;
margin:0;
}

#header-region .block
{
border: 0px none transparent;
}
